<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{mylayout}"
	lang="fr">
<head>
<meta charset="utf-8">
<title>gestion des cinemas</title>
</head>

<body>
	<div layout:fragment="content">
		<div class="col-md-4 col-xs-8">
			<div class="panel panel-default">
				<div class="panel-heading">Mettre à jour un article</div>	
				<div class="panel-body">
					<form th:action="@{/save}" method="post">	
							<div class="form-group">
								<label class="control-label"> Id :  </label> <label th:text=${cinema.id}></label>
								<input class="form-control" type="hidden" name="id" th:value="${cinema.id}">
							</div>								
							<div class="form-group">
								<label class="control-label"> Name : </label>
								<input class="form-control" type="text" name="name" th:value="${cinema.name}">
								<span th:errors="${cinema.name}" class="text-danger" ></span>
							</div>
						<!--<div class="form-group">
                            <label class="control-label"> City : </label>
                            <select class="form-control" name="city" th:value="${cinema.city.id}">
                                    <option
                                        th:each="city : ${cityzen}"
                                        th:value="${city.id}"
                                        th:text="${city.name}">
                                    </option>
                            </select>
                            <span th:errors="${cinema.city}" class="text-danger"></span>
                        </div>-->
							<button type="submit" class="btn btn-primary">Update</button>													
					</form>
				</div>
			</div>
		</div>
	</div>
</body>

</html>